.App {
  text-align: center;
  color: rgb(1, 72, 53);
}

*{
  /* border: dotted; */
}

.card h1{
  
  font-size: 4.3rem;
  width: 26rem;
  /* border: dotted; */
  margin: 0 auto;
}

button{
  background-color: rgb(255, 192, 134);
  border: none;
  padding: .4rem 1rem;
  border-radius: 1rem;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.add input{
  margin: 0 .4rem;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.grid8{
  display: grid;
  grid-template-columns: repeat(8, 1fr );
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul{
  width: 80%;
  margin: 3rem auto;
}
